.box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 15px;
  margin: 15px;
  width: 200px;
  height: 200px;
  background-color: #272829;
  color: #fff;
  border-radius: 20%;
  box-shadow: 0 0 0 5px #272829, 0 0 10px #272829, 0 0 15px #272829,
    0 0 20px #272829;
}

.statusComponent {
  width: 100%;
  height: 100px;
}

.statusComponent div {
  display: flex;
  margin: auto;
}
